<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}
        Home
        {% endblock title %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
          <!---------------------------start of navbar ------------------------------>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <div class="container">
                <a class='btn btn-white btn-navbar btn-lg' href=''>aiQuest</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gift Card</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Delivery Detalis </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Bridal
                    </a>
                    <ul class="dropdown-menu mt-4" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'tshirt' %}">T-Shirt</a></li>
                      <li><hr class="dropdown-divider"></li>

                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary btn-white" type="submit">Search</button>
                  </form>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn-lg" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      aiQuest
                    </a>
                    <ul class="dropdown-menu mt-4 " aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><hr class="dropdown-divider"></li>

                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>

                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <div class='d-flex'>
                    <div class='my-4 pe-2' >
                        <small class='text-white bg-danger'>10 </small>
                        <span class='h4'>cart</span>

                    </div>
                </div>
                <form class="d-flex">
                    <div class='my-4 pe-2' >
                    <a class='btn btn-sm btn-outline-primary' href="#">Login</a> <br>
                </div>
                <div class='my-4'>
                    <a class='btn btn-sm btn-outline-primary' href="#">Registered</a>
                </div>
                    <a href="">
                        <img class='header-logo w-100' id="cart-icon" height="60px" src="{% static 'images/cart.png' %}">
                    </a>
                </form>
              </div>
            </div>
          </nav>
          <!---------------------------end of navbar ------------------------------>
          <!---------------------------start of slider ------------------------------>

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/slider 1.jpg' %}" class="d-block w-100 "height=400px alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/slider 2.jpg' %}" class="d-block w-100"height=400px alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/slider 3.jpg' %}" class="d-block w-100" height=400px alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!---------------------------end of slider ------------------------------>
          <div class="container bg-info rounded-3">
            <div class="row justify-content-center">
              <div class="col-lg">
                <div class="text-center p-xxl-5">
                  <h4>Promotional text message examples and templates
                  </h4>
                  <small class='p-lg-5'>To help you get started, we've collected various promotional text examples for a wide range of use cases. Whether sending text messages for a flash sale or an upcoming event registration, we have the copy/paste templates you need.</small>
                </div>
              </div>
            </div>
          </div>
          {% block content %}
          <div class="m-4 p-5">
            <h2 class='text-center text-primary mb-5'> aiQuest ! T-Shirt product</h2>
            <div class="owl-carousel" id='slider1'>
                {% for tshirts in tshirt %}
                <a class='btn shadow-lg text-left' href="{% url 'tshirtview' tshirts.id %}">
                    <div class="item">
                        <img width='155px'height='120px' src="{{tshirts.image.url}}" alt="">
                        <h6 class='text-primary'>{{tshirts.productname}}</h6>
                        <small style='border:1px solid blue; padding:3px ;border-radius:2px;' class='text-primary'>Free Delivery</small>
                        <p> Tk:<del>{{tshirts.current_price}}</del></p>
                        <p> Tk :{{tshirts.price}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <!---------------------------end  of T-shirt product ------------------------------>
        <!---------------------------start of Lehenga ------------------------------>
        <div class="m-4 p-5">
            <h2 class='text-center text-primary mb-5'> aiQuest ! Lehenga product</h2>
            <div class="owl-carousel" id='slider1'>
                {% for lehengas in lehenga %}
                <a class='btn shadow-lg text-left' href="{% url 'tshirtview' lehengas.id %}" class='btn'>
                    <div class="item">
                        <img width='120px' height='120px' src="{{lehengas.image.url}}" alt="">
                        <small>{{lehengas.productname}}</small>
                        <small style='border:1px solid blue; padding:2px ;border-radius:2px;' class='text-primary'>Free Delivery</small>
                        <p> Tk:<del>{{lehengas.price}}</del></p>
                        <p> Tk :{{lehengas.current_price}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
          {% endblock content %}



        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
